
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.row >*{
	margin-top:15px;
}
.contact-section form .row >*{
	margin-top:0;
}
/*-------------common style starts----------*/
.head-content{
	padding:15px 0;
	text-align:center;
}
.heading{
	font-size:2rem;
	font-weight:bold;
	padding:1vh 0;
}
.para{
	font-size:0.9rem;
	color:#919191;
}
h1,h2,h3,h4,h5,h6{color:#124265;}
.form-control:focus {
    box-shadow: none;
}
.color-btn{
	background:#2487ce;
	border:none;
	padding:6px 20px;
	color:white !important;
}
.color-btn:hover { background:#3194db;}
a.outline-btn{
	border:solid 2px #3194db;
	font-size:14px;
	color:#3194db;
	font-weight:600;
	padding:6px 30px;
}
a.outline-btn:hover{	
	border:solid 2px white;
	background-color:#3194db;
	color:white;
}
.btn:focus{box-shadow:none;}
/*-------------common style ends----------*/

/*-------------header start----------*/
header{border-bottom: 1px solid #e6f2fb;}
.navbar a{
	color:#023b6d;
	font-size:14px;
}
.navbar-nav >li{
	margin-left:10px;
}
.dropdown-menu li{
	line-height:26px;
}
a.navbar-brand{
	font-size:28px;
	font-weight:300;
	font-family:poppins,san-serif;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color:#2487ce;
	background-color:unset;
}
.nav-link:focus, .nav-link:hover {
   color:#2487ce;
}
.dropdown-menu{
	border:none;
	box-shadow:0 0 29px #12426514;
	min-width:unset;
	max-width:180px;
}
.dropdown-item {padding: 0.35rem 1rem;}
.dropdown-item:hover{
	color:#2487ce;
	background:unset;
}
.dropdown-item:active{
	color:#2487ce;
	background:unset;
}
.navbar-toggler:focus {box-shadow:none;}
.navbar-toggler:focus {border:none;
}
.dropdown-toggle2::after{
    display: inline-block;
    margin-left:2em;
    content: "";
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
}
.dropdown2{
	position:relative;
}
.dropdown-menu2{
	position:absolute;
	top:0;
	left: 100%;	
	background:white;
	box-shadow:0 0 29px #12426514;
	padding:10px 10px;
	transition:all 0.6s ease;
	transform:translateX(-40px);
	opacity:0;
}
.dropdown-menu li{list-style:none;}

.dropdown2:hover .dropdown-menu2{
	opacity:1;
	transition:all 0.6s ease;
	transform:translateX(0);
}
/*-------------header end----------*/
/*-------------banner start----------*/
.banner{
	background-image:linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url(../image/hero-bg.jpg);
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-position:center;
	margin-top:68px;
}
.banner .content h1{
	font-size:28px;
	font-weight:bold;
	font-family: "Poppins", sans-serif;
}
.banner .content p{
	font-size:18px;
	font-weight:500;
	color:#5e5e5e;
	font-family:raleway,san-serif;
}
.banner .color-btn{
	font-family:poppins,san-serif;
	padding:10px 44px;
}
.banner .info{
	padding:50px 30px;
	box-shadow:0 0 29px #12426514;
	border-radius:6px;
	transition:all 0.6s ease;
	background:white;
	height: 100%;
}
.banner .info:hover{
	transform:scale(1.1);
}
.banner .info i{
	color:#3194db;
	font-size:2rem;
}
.banner .info a{
	color:#124265;
	font-size:18px;
	font-family:raleway,san-serif;
	font-weight:bold;
	padding:0.9rem 0;
	text-decoration:none;
	display:block;
}
.banner .info a:hover{color:#3194db;}
.banner .info p{
	color:#5e5e5e;
	font-size:15px;
}
/*-------------banner end----------*/
/*-------------ABOUT start----------*/
.about{
	padding-bottom:50px;
}
.about .info p{
	line-height:22px;
	font-size:16px;
	color:#444444;
}
.about .info i{
	font-size:22px;
	color:#3194db;
}
.about .info a{
	font-family:raleway,san-serif;
	margin-top:15px;
	padding:8px 36px;
}
.about .info a:hover{
	background:#3194db;
	color:white;
}
/*-------------about end----------*/
/*-------------count starts----------*/
.count{
		padding:60px 0;
		background-color: #f8fbfe;
}
.number {
	text-align:center;
	color:#124265;
}
.number h4{
	font-size:50px;
	font-weight:bold;
	font-family:open sans,san-serif;
	margin:0;
}
.number p{
	font-size:14px;
	color: #1e6ca6;
	font-weight:600;
	font-family:raleway,san-serif;
}
/*-------------count end----------*/



/*-------------volume starts----------*/
.volume-img .play-shadow{
	border-radius:50%;
	padding:13px;
	background-color:#2487ce66;
}
.play{
	padding:33px;
	background-color:#2487ce;
	border-radius:50%;
}
.volume-img i{
	font-size:18px;
	color:white;
	margin:auto;
}
.volume-content h3{
	color:#124265;
	font-size:25px;
	font-weight:600;
}
.volume-content p{
	font-size:15px;
	margin-bottom:10px;
}
.volume-content p i{
	font-size:25px;
	color:#2487ce;
}
/*-------------volume end----------*/


/*--------client starts---------------*/
.client{
	padding:60px 0;
	background:#f8fbfe;
}
.client-img{
	padding:10px 20px;
}
.client-img img{	
	width:50%;
	display:block;
	filter:grayscale(0.9);
	transition:all 0.2s ease;
	max-width:95px;
	margin:0 auto;
}
.client-img img:hover{
	filter:grayscale(0);
}
.client .owl-item.active.center img{ filter:grayscale(0);}
/*-------------client end----------*/


/*---------------testimonials starts--------*/
.testimonial .detail{
	background:#f3f9fd;
	padding:30px 20px;
}
.testimonial .triangle{
	width:40px;
	margin:0 auto;
	border-top:solid 20px #f3f9fd;
	border-left:solid 20px transparent;
	border-right:solid 20px transparent;
	
}
.testimonial .detail i{
	color:#c9e3f5;
	font-size:24px;
	display:inline-block;
}
.testimonial .detail i:first-child{
	transform:translate(-7px,-7px);
}
.testimonial .detail i:last-child{
	transform:translate(7px,7px);
}
.testimonial .image{
	padding-top:110px;
}
.testimonial .image h3{
	color:black;
	font-size:18px;
	font-weight:600;
}
.testimonial .image h4{
	color:#999;
	font-size:14px;
}
.testimonial .image img{
	width:90px;
	height:90px;
	display:block;
}
.owl-theme .owl-dots .owl-dot span {
    border:1px solid #2487ce;
	width: 12px;
    height: 12px;
	background:none;
	margin-top:20px;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background:#2487ce;
}
/*-------------testimonials end----------*/


/*------------services start-----------*/
.services{background:#f8fbfe;}
.services .color-icon> div:nth-child(1) .service-content i{color:#47aeff;}
.services .color-icon> div:nth-child(2) .service-content i{color:#ffa76e;}
.services .color-icon> div:nth-child(3) .service-content i{color:#e80368;}
.services .color-icon> div:nth-child(4) .service-content i{color:#ffbb2c;}
.services .color-icon> div:nth-child(5) .service-content i{color:#ff5828;}
.services .color-icon> div:nth-child(6) .service-content i{color:#11dbcf;}
.service-content:hover #svg1{fill:#47aeff;}
.service-content:hover #svg2{fill:#ffa76e;}
.service-content:hover #svg3{fill:#e80368;}
.service-content:hover #svg4{fill:#ffbb2c;}
.service-content:hover #svg5{fill:#ff5828;}
.service-content:hover #svg6{fill:#11dbcf;}
.service-content:hover i{color:white !important;}

.irregular-shape{
	position:relative;
	margin:10px auto;
}
.irregular-shape i{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:40px;
	color:#47aeff;
}
.service-content{
	text-align:center;
	padding:50px 30px;
	color:#919191;
	background:white;
	box-shadow:0px 5px 90px 0px #6d7a830d;
	margin-top:8px;
	height:100%;
	font-size:14px;
}
.service-content h4{
	font-size:22px;
	font-weight:600;
	padding:12px 0;
}

/*-------------services end----------*/
/*-------------action start----------*/
.action{
	background: #2487ce;
	
}
.action .heading{color:white;}
.action .para{
	color:white;
	font-size:16px;
}
.action .btn{
	color:white;
	padding:10px 38px;
	border:solid 2px white;
}
.action .btn:hover{
	background:white;
	color:#2487ce;
}
/*------------action end-----------*/
/*-------------portfolio start----------*/
.portfolio .nav-pills .nav-link.active{
    color:#2487ce;
    background-color:unset;
}
.portfolio .nav-link {
	color: #444444;
	font-size: 16px;
    font-weight: 600;
}
.portfolio-images{
	position:relative;
}
.portfolio-images:hover .port-img{
	top:0;
	left:0;
	bottom:0;
	right:0;
	opacity:1;
}
.portfolio-images:hover .port-img:before{
	transform:translate(-10px,-10px);
	transition:all 1.1s ease-out;
}
.portfolio-images:hover .port-img:after{right:20px;bottom:20px;}
.portfolio-images img{
		display:block;
}
.port-img{
	position:absolute;
	top:30px;
	left:30px;
	bottom:30px;
	right:30px;
	background:#2487ce99;
	transition:all 0.3s ease;
	opacity:0;
}
.port-img:before{
	content:"";
	position:absolute;
	width:50px;
	height:50px;
	top:25px;
	left:25px;
	border-top:solid 3px white;
	border-left:solid 3px white;
	transition:all 0.8s ease-in;
}
.port-img:after{
	content:"";
	position:absolute;
	width:50px;
	height:50px;
	bottom:25px;
	right:25px;
	border-bottom:solid 3px white;
	border-right:solid 3px white;
	transition:all 0.8s ease;
}
.port-links{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	z-index:1;
	color:white;
}
.port-links h4{
	color:white;
	font-size:18px;
	font-weight:600;
}
.port-links a{
	display:inline-block;
	text-decoration:none;
	color:#ffffff99;
	font-size:24px;
}
.port-links a:hover{color:white;}
/*------------portfolio end-----------*/
/*------------team start----------*/
.team{background-color: #f8fbfe;}
.team .card{
	box-shadow:0px 2px 15px #12426514;
	border:none;
}
.team .card-body{
	position:relative;
	color:#aaaaaa;
}
.team .card-title{
	color:#124265;
	font-weight:bold;
	font-size:18px;
}
.team-links {
	background:#ffffffcf;
	position:absolute;
	bottom:100%;
	left:0;
	width:100%;
	visibility:hidden;
	transition:all 0.3s ease;	
}
.team .card:hover .team-links{visibility:visible;}
.team-links a{
	text-decoration:none;
	display:inline-block;
	color:#124265;
	padding:6px;
	font-size:20px;
}
.team-links a:hover{color:#2487ce}
/*-------------team end----------*/


/*-------------pricing start----------*/
.pricing-points{
    padding: 40px 20px;
    border-radius: 8px;
    box-shadow: 0px 5px 90px 0px #6e7b831a;
	font-size:14px;
	color:#124265;
	height:100%;
}
.pricing-points.highlight {
	background-color:#2487ce;
	color:white !important;}
.pricing-points h5{
	font-size:18px;
	font-weight:600;
}
.pricing-points p:nth-of-type(1){color: #ccc;}
.pricing-points p span{
	font-size:40px;
	padding:0 5px;
	color: #2487ce;
}
.pricing-points p span sup{
	font-size:20px;
	top: -0.7em;
}
.pricing-points s{color:#ccc;}
.pricing-points a{
	padding:8px 28px;
}
.highlight h5{color:white;}
.highlight p span{
	color:white;
}
.highlight .btn{
	color:white;
	padding:10px 30px;
	border:solid 2px white;
	background:#2487ce;
	font-family:raleway,san-serif;
}
.highlight .btn:hover{
	background:white;
	color:#2487ce;
} 
/*------------pricing end-----------*/

/*-------------question start----------*/

.question{background-color: #f8fbfe;}
.accordion-item {
    border:none;
	margin-bottom:10px;
	padding:10px 0;
}
.accordion-button{
	font-family:open sans,san-serif;
	font-weight:600;
}
.accordion-button i{
	color:#2487ce;
	font-size:20px;
}
.accordion-button:not(.collapsed) {
    color:#343a40;
    background-color:white;
    box-shadow:none;
}
.accordion-button:focus{
    box-shadow:none;
	color:#2487ce;
}
.accordion-button:hover{color:#2487ce;}

/*------------question end-----------*/
/*------------contact starts-----------*/

.contact{
	color:#2487ce;
	font-size:14px
}
.contact h5{
	font-weight:600;
	font-size:22px;
}
.contact-me i{
	font-size:24px;
	display:inline-block;
	padding:10px;
	background:#e3f0fa;
	border-radius:5px;
	color:#2487ce;
}
.contact-section .color-btn{padding:10px 34px;}
/*------------ contact ends-----------*/
/*------------address starts-----------*/
.address-team{
	line-height:26px;
	color:#777777;
	font-family:raleway,san-serif;
	font-size:14px;
}
.address-team h3{font-weight:400;}
.address-links h5{
	font-weight:700;
	font-size:16px;
}
.address-links p{font-size:15px}
.address-links ul{
	list-style:none;
	padding:0;	
	line-height:36px;
	font-size:14px;
}
.address-links i{color:#3194db;}
.address-links a{
	text-decoration:none;
	display:inline-block;
	color:#777777;	
}
.address-links .color-btn{
	padding:12px 26px;
}
/*------------ address ends-----------*/
/*------------ footer starts-----------*/
.footer{
	background:#f8fbfe;
	font-size:14px;
}
.copyright span{color:#3194db;}
.footer a{
	display:inline-block;
	padding:5px 9px;
	background:#2487ce;
	font-size:16px;
	text-decoration:none;
	color:white;
	border-radius:5px;
}
.footer a:hover{
	background-color:#3194db;
}
a.scroll-up{
	font-size:24px;
	padding:0 5px;
	right:10px;
	bottom:10px;
}
/*------------ footer ends-----------*/


/*-------------services end----------*/